<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/Shop/css/bulma.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/Shop/css/font-awesome.min.css') }}" rel="stylesheet" />

    </head>
    <body>
        <section class="hero is-info is-bold is-fullheight">
        
            <!-- Top -->
            <div class="hero-head">
                <div class="container">
                    <header class="nav">
                        <div class="container">
                            <div class="nav-left">
                                <a class="nav-item" href="/">
                                    <img src="{{ asset('logo.png') }}" alt="Docker Shop">
                                </a>
                            </div>
                            <span class="nav-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <div class="nav-right nav-menu has-shadow">
                                <a class="nav-item is-active">
                                    Shop
                                </a>
                                <a class="nav-item">
                                    Local repository
                                </a>
                                <a class="nav-item">
                                   Account
                                </a>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a class="nav-item" href="{{ path('fos_user_security_logout') }}">
                                        Logout
                                    </a>
                                {% else %}
                                    <a class="nav-item" href="{{ path('fos_user_security_login') }}">Login</a>
                                {% endif %}
                            </div>
                        </div>
                    </header>
                </div>
            </div>

            <!-- Main content -->
            <div class="hero-body">
                <div class="container">     
                    {# <div class="section"> #}
                        {% block body %}{% endblock %}
                    {# </div> #}
                </div>
            </div>

            <!-- Bottom -->
            <div class="hero-foot">
                <div class="container">
                    
                </div>
            </div>
        </section>

        
        {% block javascripts %}{% endblock %}
    </body>
</html>
