{% extends 'base.html.twig' %}

{% block title %}
    DockerShop
{% endblock %}

{% block body %}
    <h1 class="title is-1">Some awesome apps</h1>

    <div class="columns is-multiline is-mobile">
        {% for app in apps %}
            <div class="column is-one-quarter">
                <div class="card is-fullwidth">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="{{ path('app_show', { 'id': app.id }) }}">{{ app.name }}</a>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <strong>Version:</strong> {{ app.version }}</a>
                        <br>
                            {# <small>11:09 PM - 1 Jan 2016</small> #}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('app_show', { 'id': app.id }) }}">Show</a>
                        <a class="card-footer-item" href="{{ path('app_edit', { 'id': app.id }) }}">Edit</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('app_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}