{% extends 'base.html.twig' %}

{% block title %}
    DockerShop
{% endblock %}

{% block body %}
    <div class="section">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title is-1">Docker Shop</h1>
            </div>
            <div class="column">
                <a class="button is-primary is-medium" href="{{ path('app_new') }}">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>Create a new entry
                </a>
            </div>
        </div>
    <div class="columns is-multiline is-mobile">
        {% for app in apps %}
            <div class="column is-one-quarter">
                <div class="card is-fullwidth">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="{{ path('app_show', { 'id': app.id }) }}">{{ app.name }}</a>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <strong>Version:</strong> {{ app.version }}</a>
                            <br>
                            <strong>Image: </strong> {{ app.image }}</a>
                            {# <small>11:09 PM - 1 Jan 2016</small> #}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('app_show', { 'id': app.id }) }}">Show</a>
                        <a class="card-footer-item" href="{{ path('app_edit', { 'id': app.id }) }}">Edit</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
            
{% endblock %}