{% extends 'base.html.twig' %}

{% block title %}
    Docker Shop
{% endblock %}

{% block body %}
    <div class="columns is-vcentered">
        <div class="column is-two-two">
            <h1 class="title is-1">Browse the apps</h1>
        </div>
    </div>
    <div class="columns is-multiline is-mobile">
        {% for app in apps %}
            <div class="column is-one-quarter">
                <div class="card is-fullwidth">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="{{ path('app_show', { 'id': app.id }) }}">{{ app.name }} <span class="tag is-small">{{ app.version }}</span></a>
                        </p>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                           <a href="{{ path('app_show', { 'id': app.id }) }}">
                                <img src={{ app.image ? asset('bundles/Shop/img/app/' ~ app.image ) : asset('bundles/Shop/img/app/default300x225.png') }} alt="">{{ app.image }}</img>
                            </a>
                        </figure>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('app_show', { 'id': app.id }) }}">Show</a>
                        {% if is_granted('ROLE_ADMIN') %}<a class="card-footer-item" href="{{ path('app_edit', { 'id': app.id }) }}">Edit</a>{% endif %}
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="column">
                <a class="button is-success is-medium" href="{{ path('app_new') }}">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>Create a new entry
                </a>
            </div>
        {% endif %}
    </div>          
{% endblock %}